* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-image:linear-gradient( #1a2f74cc, rgba(0, 0, 0, 0.5)), url("/light.jpg");
    /* background: linear-gradient( #2f585bcc, rgba(186, 13, 174, 0.6)); */
    object-fit: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.container {

    height: 100%;
    /* padding: 20px; */
    border: 1px solid black;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: calc(100vw-65vw);
    width: 32%;
}

.header {
    background: linear-gradient(to right, #091C70, rgb(10, 30, 61));
    /* background-color: #091C70; */
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 15px;
   font-weight: 100;
    text-transform: uppercase;
}

#form {
    padding: 15px;
}

.input-control {
    padding: 8px;
    margin-bottom: 5px;
    position: relative;
}

.input-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.input-control input {
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    padding: 7px;
}

.input-control input:focus {
    outline: 0;
    border-color: #777;
}

.input-control.success input {
    border-color: #2ecc71;
}

.input-control.error input {
    border-color: #e74c3c;
}

.input-control i {
    position: absolute;
    right: 8%;
    top: 38px;
    visibility: hidden;
}

.input-control.success i.fa-circle-check {
    color: #2ecc71;
    visibility: visible;
}

.input-control.error i.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}

.input-control small {
    color: #e74c3c;
    position: absolute;
    /* top: 60px; */
    left: 7px;
    visibility: hidden;
}
.input-control.error small{
    visibility: visible;
}
.btn {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(to right, #091C70, rgb(10, 30, 61));
    text-transform: uppercase;
    transition: all 1s ease-in;
    color: #fff;
}

.btn:hover {
    background: linear-gradient(to left, #091C70, rgb(10, 30, 61));
}

@media(max-width:998px) {
    .container {
        width: calc(100vw-35vw);
        max-width: 100%;
    }
}